
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align:center;
    left: 500px;
    position: relative;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    left: 500px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    left: 500px;
  }
  div.txt{
    text-align:center;


  }