ul {
    list-style-type: none;
    margin: 0;
    margin-top:10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  li {
    float: left;
    border-right:1px solid #bbb;
    
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  } 



div.gallery1 {
margin-top:100px;
margin-left: 100px;

  border: 2px solid rgb(0, 0, 0);
  float: left;
  width: 180px;
}
div.gallery1:hover {
  border: 1px solid rgb(0, 0, 0);
}

div.gallery1 img {
  width: 100%;
  height: auto;
}

div.desc1 {
  padding: 15px;
  text-align: center;
}


div.gallery2 {
  margin-top:100px;
  margin-left: 100px;
 
  
    border: 2px solid rgb(0, 0, 0);
    float: left;
    width: 180px;
  }

  
div.gallery2:hover {
  border: 1px solid rgb(0, 0, 0);
}

div.gallery2 img {
  width: 100%;
  height: auto;
}

div.desc2 {
  padding: 15px;
  text-align: center;
}


